
#full {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #eee;
}

#toggle {
  width: 30px;
  position: absolute;
  right: 20px;
  bottom: 20px;
}

#lock {
  width: 30px;
  position: absolute;
  left: 20px;
  bottom: 20px;
}

.scroll {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  color: red;
}

.start {
  padding-bottom: 1500px;
}